/* src/styles/ClientsStyles.css */
.clients-container {
    display: flex;
    flex-direction: row;
}



.clients-list {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 1rem;
}

.clients-list ul {
    list-style: none;
    padding: 0;
}

.client-item {
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.client-item:hover {
    background-color: #f0f0f0;
}

.client-name {
    font-weight: bold;
}

.client-email {
    color: #555;
}

.client-detail {
    width: 70%;
    padding: 1rem;
}
/* src/styles/ClientsStyles.css */

/* Estilos para el modal */
.modal {
    background-color: white;
    padding: 2rem;
    max-width: 500px;
    margin: auto;
    position: relative;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 1rem;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-buttons button {
    margin-left: 1rem;
}

/* Estilos para la selección de medidores */
.medidor-selection {
    margin-top: 1rem;
}

.medidor-selection label {
    display: block;
    margin-bottom: 0.5rem;
}

.medidor-selection select {
    padding: 0.5rem;
    font-size: 1rem;
}

.medidor-detail {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

.medidor-detail p {
    margin: 0.5rem 0;
}

/* src/styles/FacturasList.css */
.facturas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.facturas-table th,
.facturas-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.facturas-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

