/* Deshabilitar el scroll en toda la página */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*verflow: hidden; /* Deshabilita el scroll */
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*overflow: hidden; /* Evita el scroll en el contenedor raíz */
}

/* Estilos generales */
* {
    box-sizing: border-box; /* Asegura un cálculo consistente del ancho y padding */
}

/* Estilo base para la aplicación */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Estilos adicionales para tablas o contenedores largos */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 8px 0;
}
